<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Airline Ticket Price Prediction</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a ><span>Airline Ticket Price Prediction</span></a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#services">Steps</a></li>
          <li><a class="getstarted scrollto" href="#contact">Start Prediction</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Bettter Way to Predict Your Ticket Price For Your Coming Travel</h1>
          <div>
            <a href="#contact" class="btn-get-started scrollto">Start Prediction</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="/static/assets/img/hero-img.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="/static/assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">We are a team of computer science Students provid our websit that Predict Ticket Prices of Airlines</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              We produce this machine learning-based website after a thorough examination of every part of the machine learning model and its results.
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>What is our knowledge</h4>
                <p>we have a good knowledge of machine learning and preprocessing and programming knowledge that makes us qualified to create such a project.</p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Steps Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Steps Of Creating Our Project</h2>
          <p>There Are Steps Behind Our Work</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Analysis Phase</a></h4>
              <p class="description">Analysis was done using Power BI, answering 20 questions about the data.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Preprocessing Phase</a></h4>
              <p class="description">Due to the presence of the date feature, the data was handled as a time series problem,Data transformation using the discrete cosine transform as this is a time series data we suspected that the data may have been periodic.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Modeling Phase</a></h4>
              <p class="description">We tried to use several models to assume that we picked the best model.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Deployment Phase</a></h4>
              <p class="description">The selected model has been uploaded to the backend and the front end of the website has been handled after that we have hosted it.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Steps Section -->


    <!-- ======= Predict Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Prediction</h2>
          <p>Enter Your Travel Information To Predict The Ticket Price</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.5559923012206!2d31.287127084956587!3d30.078259181869903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583f95f0512f29%3A0xfa1ccd201d070672!2z2YPZhNmK2Kkg2KfZhNit2KfYs9io2KfYqiDZiNin2YTZhdi52YTZiNmF2KfYqiAtINis2KfZhdi52Kkg2LnZitmGINi02YXYsw!5e0!3m2!1sar!2seg!4v1654659610892!5m2!1sar!2seg" frameborder="0" style="border:0; width: 100%; height: 700px;" allowfullscreen></iframe>

            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200" >
            <form  action="/predict" method="get" class="predictForm">
    

              <div class="form-group mt-3">
                <label for="name">Date</label>
                <input type="date" class="form-control" name="date" id="date" placeholder="D/M/Y" required>
              </div>


              <div class="form-group mt-3">
                <label for="name">Airline</label>
                <select name="Airline" id="cars" class="form-control" id="Airline" placehoder="Airline" required>
                  <option value="Vistara">Vistara</option>
                  <option value="AirAsia">AirAsia</option>
                  <option value="GO FIRST">GO FIRST</option>
                  <option value="indigo">indigo</option>
                  <option value="SpiceJet">SpiceJet</option>
                  <option value="StarAir">StarAir</option>
                  <option value="Truject">Truject</option>
                  <option value="Air India">Air India</option>
                </select>
              </div>

              <div class="form-group mt-3">
                <label for="name">Departure Time</label>
                <input type="time" class="form-control" name="departuretime" id="departure time" required>
              </div>

              <div class="form-group mt-3">
                <label for="name">Taken Time</label>
                <input type="string" class="form-control" name="takentime" id="takentime time" placeholder="ex: 00h 00m" required>
              </div>

              <div class="form-group mt-3">
                <label for="name">Number of Stops</label>
                <select name="stops" id="stops" class="form-control" placehoder="Stops" required>
                  <option value=1-stop>1-stop</option>
                  <option value=2+-stop>2+-stop</option>
                  <option value=non-stop>non-stop</option>
                </select>
              </div>

              <div class="form-group mt-3">
                <label for="name">Arrival Time</label>
                <input type="time" class="form-control" name="arrivaltime" id="arrival time" required>
              </div>


              <div class="form-group mt-3">
                <label for="name">Type Of Ticket</label>
                <select name="type" id="type" class="form-control" required>
                  <option value=business>business</option>
                  <option value=economy>economy</option>
                </select>
              </div>


              <div class="form-group mt-3">
                <label for="name">Source</label>
                <select name="source" id="source" class="form-control" required>
                  <option value=Bangalore>Bangalore</option>
                  <option value=Hyderabad>Hyderabad</option>
                  <option value=Delhi>Delhi</option>
                  <option value=Mumbai>Mumbai</option>
                  <option value=Kolkata>Kolkata</option>
                </select>
              </div>

              <div class="form-group mt-3">
                <label for="name">Destination</label>
                <select name="destination" id="destination" class="form-control" required>
                  <option value=Bangalore>Bangalore</option>
                  <option value=Hyderabad>Hyderabad</option>
                  <option value=Delhi>Delhi</option>
                  <option value=Chennai>Chennai</option>
                  <option value=Kolkata>Kolkata</option>
                  </select>
              </div>


              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <button type="submit" class="btn btn-primary">
                Predict
              </button>

            </form>
            <script>
              function myFunction() {
                Swal.fire("Unfortunately!'\n'This flight is not available'\n'Choose another Source And Destination.");
              }
            </script>

            {% if validatSourceDestination %}
            <script>
              myFunction.call()
            </script>
            {% endif %}

            {% if price %}
            <script type="text/javascript">
              value='{{price}}';
              function predicted() {

                  Swal.fire({
                  title: "The Predicted Price is: \n"+value+" $",
                  width: 600,
                  padding: '3em',
                  color: '#716add',
                  background: '#fff url(/images/trees.png)',
                  backdrop: `
                    rgba(0,0,123,0.4)
                    url("/images/nyan-cat.gif")
                    left top
                    no-repeat
                  `
                })
              }
            </script>
             {% endif %}

            {% if price %}
            <script>
              predicted.call()
            </script>
            {% endif %}


          </div>

        </div>

      </div>
    </section><!-- Predict Section -->

  </main><!-- End #main -->




  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Ain Shams University Faculty of Computer And Information Science</h3>
            <p>
              Scientific Computing Department <br>
            </p>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>The Machine Learning Model And the Website Developed And Maintained By :</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a >Mohammed Nour-Elden Abbas Ismael</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Nour Mohamed Hussein Kamaly</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Abdul-Rahman Sayed Ali Mohammed</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Nourhan Abdel-Karim Khalaf Abdel-Hafez</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Ahmed Mohammed Samy Mohammed</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Under the supervision of </h4>
            <ul>
            <li><i class="bx bx-chevron-right"></i> <a >Dr. Dina Khattab </a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="credits">
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>